<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>THANKS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
            h1 {text-align: center;}
            .container { 
              height: 700px;
              position: relative;
              border: 3px solid green; 
            }
            
            .center {
              margin: 0;
              position: absolute;
              top: 50%;
              left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
            }
    </style>
  </head>
  <body>
      
      <div class="container">
        <h1>THANK YOU! FOR USING THE COURIER BOX</h1> 
        <h1>{{msg}}</h1>
        
    <div class="center">
        
      <img src="static/thankyou.jpg" width=250" height="300">
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script>setTimeout(function(){
         window.location.href = '/';
      }, 20000);</script>
  </body>
  
</html>